body {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100px;
}
#title-section {
  text-align: center;
}
.title-name {
  font-family: Bai Jamjuree;
  font-size: 4rem;
  font-weight: 600;
  margin: 140px auto 0 auto;
}
.title-description {
  font-family: Bai Jamjuree;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 140px;
  width: 1030px;
  margin: 100px auto 100px auto;
  color: rgb(101, 101, 101);
}
.download-button-ios {
  background-color: rgb(38, 187, 164);
  border: 0ch;
  border-radius: 50px;
  width: 300px;
  height: 80px;
  box-shadow: 0px 5px black;
  margin: 20px;
}
.download-button-mac {
  border: 0ch;
  border-radius: 50px;
  width: 300px;
  height: 80px;
  box-shadow: 0px 5px black;
  margin: 20px;
}

.title-buttons {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .title-description {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .title-description {
    width: 400px;
  }
  .title-buttons {
    width: 400px;
  }
  .title-name {
    margin: 100px auto 0 auto;
  }
}
@media (max-width: 400px) {
  .title-description {
    width: 100px;
  }
}
