body {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-image: url("https://github.com/sergiuszbinkowski/FeMentor_challenge_02/blob/master/images/bg-header-desktop.png");
=======
  background-image: url(/FeMentor_challenge_02/blob/master/images/bg-header-mobile.png);
>>>>>>> 96f13d0c35895683cc098d5c5f0492e93e0a4503
=======
  background-image: url("/images/bg-header-mobile.png");
>>>>>>> 91d0adac20874bb1064fa3e3a1d1fc28a20d0274
=======
  background-image: url("./images/bg-header-mobile.png");
>>>>>>> ae7087fdce059160aff08156c0638ed593dc6052
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}
#title-name {
  font-family: Bai Jamjuree;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 140px;
}
#title-description {
  font-family: Bai Jamjuree;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 140px;
  width: 1030px;
  margin: 100px auto 100px auto;
}
